@model Falla.Domain.ActAssistance

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ActAssistance</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdAct)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdAct)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdFallero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdFallero)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdAsistencia }) |
    @Html.ActionLink("Back to List", "Index")
</p>
